<div class="row">
  <div class="span12">
    <%= activity.owner.name if activity.owner %> updated their account <%= activity.trackable.name if activity.trackable %> at <%= activity.created_at %>
  </div>
</div>
