<% provide(:title, "Dashboard") -%>
<div class="row">
  <div class="span7">
  </div>
  <div class="span5">
    <h1>News Feed</h1>
    <% @activities.each do |activity| %>
      <%= render activity.subject.class.to_s.downcase, subject: activity.subject %>
    <% end %>
  </div>
</div>
