<div class="row">
  <div class="span12">
    <h1>Activity Feed</h1>
    <ul>
      <% @activities.each do |activity| %>
        <li><%= render activity.subject.class.to_s.downcase, subject: activity.subject %></li>
      <% end %>
    </ul>
  </div>
</div>
