<div class="row-fluid">
  <% @profiles.each_slice(6).each do |batch| %>
    <ul class='thumbnails'>
      <% batch.each do |profile| %>
        <% cache profile do %>
          <li class="span2">
            <div class="thumbnail">
              <%= link_to profile_path(profile) do %>
                <%= avatar_for(profile) %>
              <% end %>
              <div class="caption">
                <small><%= link_to truncate(profile.name, length: 20), profile_path(profile) %></small>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
<div id='more-button-row' class="row-fluid">
  <%= link_to_next_page @profiles, 'More...', params: { cache: false }, remote: true, class: 'more-button hidden', data: { disable_with: 'loading...' } %>
</div>
