<% provide(:title, "My Favorites") -%>
<%= render :partial => "shared/account_nav", :locals => { :selected => :favorites } %>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% @creations.each do |creation| %>
        <li>
        <%= link_to creation do %>
          <img class="thumbnail" src="<%= creation.primary_image.image.thumb.url %>" alt="<%= creation.name %>">
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
