<% provide(:title, "My Favorites") -%>
<% content_for :page_header do -%>
  <h1>My Favorites</h1>
<% end -%>
<div class="row">
  <div class="span3">
    <%= render :partial => "me_box"  %>
  </div>
  <div class="span9">
    <ul class="thumbnails">
      <% @creations.each do |creation| %>
        <li><a href="<%= url_for creation %>"><img class="thumbnail" src="<%= creation.primary_image.image.thumb.url %>" alt="<%= creation.name %>"></a></li>
      <% end %>
    </ul>
  </div>
</div>
