<% content_for :title do %>
  My profile
<% end %>
<% content_for :stylesheets do %>
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/my_profile_sidebar" %>
<% end %>

<h1>My Creations</h1>
<%= render "shared/creation_thumbs" %>
