<p>Hello <%= @user.email %>!</p>

<p>A requested has been made to change your password on CakeSide.com, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@user.reset_password_token, protocol: 'https') %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<br/>
<p>Regards,</p>
<p>The CakeSide Team</p>
<p>Your security and privacy is important to us so please <%= link_to "visit us", root_url(protocol: 'https') %> if you have any questions?</p>

