.bundle
db/*.sqlite3
log/*.log
tmp
*.swp
public/uploads/
db/backups/
log/*
.DS_Store
NERD_tree_*
tags
.sass-cache/
*.fuse*
config/database.yml
coverage
.vagrant
public/assets
.env
vendor/bundle
.capistrano
