<%= render :partial => "shared/account_nav", :locals => { :selected => :creations } %>
<div class="row">
  <div class="span12">
    <%= link_to "Upload Cake", new_creation_path, :class => "btn pull-right" %>
    <% unless @creations.any? %>
      <p>You haven't uploaded any cakes yet. <%= link_to "Get Started", new_creation_path %>.</p>
    <% end %>
  </div>
  <div class="span12">
    <%= render "shared/creation_image_gallery" %>
  </div>
</div>
