<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>,</h1>
    <p>
    You have successfully signed up to <%= link_to "www.cakeside.com", root_url(protocol: 'https') %> with the email address <%= @user.email %>
    </p>
    <p>
    <%= link_to "Log in", root_url(protocol: 'https') %> to start uploading!
    </p>
    <p>Thank you for joining our community!</p>
  </body>
</html>

