<% content_for :title do %>
  Search Results for <%= @search %>
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/categories_sidebar" %>
<% end %>

<h1>Search Results for <em><%= @search %></em></h1>
<%= render "shared/creation_thumbs" %>
