<% content_for :title do %>
  Search Results for <%= @search %>
<% end %>

<div class="row">
  <div class="span16">
    <h1>Search Results for <em><%= @search %></em></h1>
    <%= render "shared/creation_image_gallery" %>
  </div>
</div>
