<% provide(:title, "Editing creation #{@creation.name}") %>
<% content_for :page_header do -%>
  <h1><small>Edit</small> <%= @creation.name %> <small>(Step 1 of 2)</small></h1>
<% end -%>
<div class="row">
  <div class="span3">
    <div class="thumbnail">
      <%= avatar_for(current_user) %>
      <div class="caption">
        <h5><%= current_user.name %></h5>
      </div>
    </div>
  </div>
  <div class="span9">
    <%= render 'form' %>
  </div>
</div>
