<h1>Browse All Creations</h1>
<p><em>What time is it? Nana, nana, naaaaana caake time!</em></p>  
<p>Check out our communities most recent cake work.</p>

<h2>Editing creation <%= @creation.name %></h2>

<div class="width100 floatLeft">
  <div class="width50 floatLeft">
    <%= render 'form' %>
  </div>
  <div class="width50 floatRight">
    <p>
    <%= image_tag @creation.image_url.to_s, :class => 'photo' %>
    </p>
  </div>
</div>

<%= link_to 'Show', @creation %> |
