<% content_for :script do %>
  $('label[data-editable="false"]').addClass('hidden');
  $('input[data-editable="false"]').addClass('hidden');
<% end %>

<h1>Editing creation <em><%= @creation.name %></em></h1>

<%= image_tag @creation.image_url.to_s, :class => 'photo' %>
<%= render 'form' %>


<%= link_to 'Show', @creation %> |
