<% content_for :title do %>
  Share my creation
<% end %>
<div class="grid_9 alpha omega">
  <h1>Share your creation with other Cake artists, enthusiasts, and eaters!</h1>
  <p>We&apos;re delighted that you're going to share your latest creation with us.<p>
  <h2>Share My Latest Creation</h2>
  <%= render 'form' %>
</div>
<div class="clear" />
