<% provide(:title, "Share my creation") -%>
<% content_for :page_header do -%>
  <h1>Share a new creation <small>(Step 1 of 2)</small></h1>
<% end -%>
<div class="row">
  <div class="span12">
    <%= render 'form' %>
  </div>
</div>
