
<%= image_tag "cakes/Camouflage_Truck.jpg", :alt=>"camouflage truck cake", :class=>"photo", :width=>"417px", :height=>"205px" %>
<h1>Share your creation with other Cake artists, enthusiasts, and eaters!</h1>
<p>We&apos;re delighted that you're going to share you latest creation with us.<p>
<a href="<%= url_for my_creations_path %>"> my creations </a>
<div>Add My Latest Creation</div>
<div class="width100">
  <%= render 'form' %>
</div>

<%= link_to 'Back', creations_path %>

