<% provide(:title, "#{@creation.name} By #{@creation.user.name}") -%>
<% provide(:description, "#{@creation.story}") -%>

<div id="primary-photo">
  <%= render partial: 'show' %>
</div>

<% if @creation.photos.any? %>
  <div class="row-fluid">
    <div class="span12">
      <ul class="thumbnails">
      <% @creation.photos.each do |photo| %>
        <li class="span2">
          <%= link_to creation_path(@creation, photo_id: photo.id), remote: true do %>
            <%= image_tag(photo.url_for(:thumb), :class => "thumbnail") %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= render :partial => "shared/disqus", :locals => { :id => "c-#{@creation.id}" } %>
