<h1>Listing photos</h1>

<table id="photos-table">
  <tr>
    <th>Thumb url</th>
    <th>Large url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Photo</a>