<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h2>This is a modal!</h2>
</div>
<div class="modal-body">
  <form id="new-photo" name="photo" class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="photo_attachment">Photo</label>
        <div class="controls">
          <input class="input-xxlarge" id="photo_attachment" name="attachment" type="file">
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
  <button id="upload-photo-button" type="submit" class="btn btn-primary">Upload Photo</button>
</div>
