<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h2>Upload Photo</h2>
</div>
<div class="modal-body">
  <form id="new-photo" name="photo" class="form-horizontal">
    <span class="btn btn-default btn-file">
      + Browse... <input id="photo-attachment" name="attachment" type="file" accept="image/*">
    </span>
    <img id="preview-image" src="#" alt="your image" class="hide" />
  </form>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <button id="upload-photo-button" type="submit" class="btn btn-primary">Upload Photo</button>
</div>
