<h1>Upload photo</h1>

<form id="new-photo" name="photo" class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="photo_attachment">Photo</label>
      <div class="controls">
        <input class="input-xxlarge" id="photo_attachment" name="attachment" type="file">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Upload Photo</button>
      <a href="#/" class="btn">Cancel</a>
    </div>
  </fieldset>
</form>

<a href="#/index">Back</a>
