<h1>New photo</h1>

<form id="new-photo" name="photo">
  <div class="field">
    <label for="thumb_url"> thumb_url:</label>
    <input type="text" name="thumb_url" id="thumb_url" value="<%= thumb_url %>" >
  </div>

  <div class="field">
    <label for="large_url"> large_url:</label>
    <input type="text" name="large_url" id="large_url" value="<%= large_url %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Photo" />
  </div>

</form>

<a href="#/index">Back</a>