<div class="row">
  <div class="span12">
    <p><a href="#/cakes/<%= cake_id %>">back</a></p>
    <a href="#/cakes/<%= cake_id %>/photos/<%= id %>">
      <img src="<%= original_url %>" class="thumbnail" />
    </a>
  </div>
</div>
