<div class="row">
  <div class="span12">
    <%= activity.owner.name if activity.owner %> added a new avatar named <%= activity.trackable.avatar.url if activity.trackable %> at <%= activity.created_at %>
  </div>
</div>
