.width100{width: 100%; background: #fff;}
.width80{width: 80%;}
.width75{width: 75%;}
.width50{width: 50%;background: #fff;}
.width25{width: 25%;}
.width20{width: 20%;}
.width33{width: 33.3%;}
.floatLeft{float:left;}
.floatRight{float:right;}
.image{margin-left:auto; margin-right:auto; display:block;}
.photo{
	border:1px solid #bababa;
	padding:2px;
	background-color:#ccc;
	margin:6px 18px 2px 5px;
}
.simple-table
{
	font-size: 10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.simple-table td
{
	border: 1px solid #ccc;
	padding: 6px 8px;
}
.simple-table tfoot td
{
	border: none;
	font-weight:bold;
	text-align:right;
}
.simple-table thead th
{
    text-align:center;
}
