/*Template Layout*/

body {
	font: 12px tahoma, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0px;
	padding: 0px;
	color: #241a10;
	background:#c9e4ec url(/images/template/page_bg.gif);
}
a, a:link, a:active, a:visited {
	color: #605646;
}
a:hover {
	text-decoration:none;
}
#page_bg {
	background:url(/images/template/ribbon.gif) no-repeat center 108px;
}
#container {
	width:850px;
	margin: 0px auto;
	padding:0px;
}
#header {
	height: 108px;
	padding: 0px;
	background-image:url(/images/template/header_bg.jpg);
	background-position:top;
	background-repeat:no-repeat;
}
#header_logo {
	height: 56px;
	width: 322px;
	float:left;
	margin:40px 0px 0px 25px;
}
#header_slogan {
	width:213px;
	height:40px;
	float:right;
	margin:45px 25px 0px 0px;
}
#mainContent {
	padding:0px;
	background:#fffdee url(/images/template/body_top_shadow.jpg);
	background-repeat:repeat-x;
	background-position:top;
	min-height:400px;
}
#left_side {
	width:142px;
	float:left;
	margin-left:6px;
}
#right_side {
	width:666px;
	float:right;
	margin-right:10px;
	margin-top:10px;
	padding-bottom:30px;
}
.inner_right {
	float:right;
	width:160px;
	height:300px;
	padding:4px 0 0 7px;
}
#footer {
	padding: 10px;
	height:15px;
	margin:0px auto;
	clear:both;
	font-size:10px;
	color:#1d6d85;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#footer a, #footer a:link, #footer a:visited {
	color: #1d6d85;
	text-decoration:none;
}
#footer a:hover {
	color: #FFFFFF;
	text-decoration:underline;
}
#footer a:active {
	color: #1d6d85;
	text-decoration:none;
}
/*-- navigation--*/

#menu_container {
	height:44px;
}
ul#navigation {
	float:right;
	position:relative;
	z-index:30;
	margin-top:2px;
	margin-right:117px; /* Change this value to move the menu left / right */
	margin-bottom:0;
	margin-left:0;
	padding:0;
}
ul#navigation li {
	float:left;
	list-style:none;
	display:inline;
	margin:0 0 0 0px;
	padding:0;
}
ul#navigation li a, ul#navigation li a:link, ul#navigation li a:visited {
	float:left;
	color:#241a10;
	padding:12px 16px;
	display:block;
	text-decoration:none;
	font:13px tahoma, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	border-right:1px solid #eece81;
}
ul#navigation li.last a, ul#navigation li.last a:link, ul#navigation li.last a:visited {
	border-right:0;
}
ul#navigation li.current a, ul#navigation li.hover a, ul#navigation li:hover a, ul#navigation a.active, ul#navigation a:hover {
	color:#FFFFFF;
	background-color:#eece81;
}
/*--second-level--*/
ul#navigation li.hover, ul#navigation li:hover {
	position:relative;
}
ul#navigation li.hover ul.second-level, ul#navigation li:hover ul.second-level {
	display:block;
}
ul#navigation ul.second-level {
	position:absolute;
	top:40px;
	left:-1px;
	margin:0;
	padding:0;
	width:160px;
	display:none;
	background-color:#eece81;
}
ul#navigation ul.second-level li {
	width:160px;
	margin:0;
}
ul#navigation ul.second-level a, ul#navigation ul.second-level a:link, ul#navigation ul.second-level a:visited {
	display:block;
	float:none;
	width:140px;
	border-top: 1px solid #cfb371;
	border-right:0;
	padding:4px 10px;
	background:none;
	font:12px/20px tahoma, Arial, Helvetica, sans-serif;
	color:#241a10;
}
ul#navigation ul.second-level li.hover a, ul#navigation ul.second-level li:hover a, ul#navigation ul.second-level a:hover {
	color:#FFFFFF;
	background:#cfb371;
}
/*end menu*/

/*Tag Menu*/
.tag {
	background-image:url(/images/template/tag_bottom.gif);
	background-repeat:no-repeat;
	background-position:0px bottom;
	width:148px;
	margin-bottom:20px;
}
.tag p {
	padding:0px 5px;
}
.tag ul {
	padding:0 0 13px 0;
	margin:0px;
}
.tag li {
	list-style:none;
	padding:0 0 0 15px;
	margin:0px 0px 0px 8px; /* used to center the menu on its bg image */
	line-height:22px;
	background:url(/images/template/tag_line.gif) no-repeat 0 bottom;
}
.tag a, .tag a:link, .tag a:visited {
	background-image:url(/images/template/tag_icon.gif);
	background-position:left;
	background-repeat:no-repeat;
	display:block;
	padding:0px 0 2px 15px;
	color:#644d38;
	text-decoration:none;
	font-family:Tahoma, Arial;
	font-size:12px;
}
.tag a:hover {
	text-decoration:underline;
	color:#605646;
}
/*Search Box on menu*/
#search_box {
	width:142px;
	height:30px;
	margin:0 0 16px 3px;
}
#search_box input {
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	color:#605646;
}
#search_box p {
	padding:0px 5px;
}
#search_box_inner {
	margin-left:0px;
	padding:0px;
	width:105px;
	height:21px;
	float:left;
}
#search_query {
	border:0px;
	padding:3px 0px 0px 6px;
	margin:0px 0px 0px 5px;
	background-image:url(/images/template/search.gif);
	background-repeat:no-repeat;
	background-position:left;
	width:105px;
	height:20px;
}
#search_box_go {
	float:left;
	padding-top:0px;
}
/*Shopping Cart On the Menu*/
#shopping_cart_summary {
	background:url(/images/template/we_accept.gif) no-repeat;
	width:142px;
	height:71px;
	color:#8f6637;
	padding:24px 0 0 0;
	font-family:Tahoma, Arial;
	font-size:11px;
	margin:0 0 0 4px;
}
#shopping_cart_summary div {
	text-align:center;
}
#shopping_cart_summary a, #shopping_cart_summary a:link, #shopping_cart_summary a:visited {
	color:#8f6637;
	text-decoration:none;
}
#shopping_cart_summary a:hover {
	color:#8f6637;
	text-decoration:underline;
}
/*General Content*/

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#cb4c72;
	font-weight:normal;
}
h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	color:#936a39;
	font-weight:normal;
}
h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#1d6d85;
}
h4 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#634f34;
}
form {
	margin:0px;
	padding:0px;
}
.image_border {
	border: 1px solid #dfd0be;
	margin: 3px 10px;
	padding: 3px;
}
hr {
	border: 0;
	color: #dfd0be;
	background-color: #dfd0be;
	height: 1px;
	width: 100%;
	text-align: left;
	clear:both;
}
hr.clear {
	margin-top:10px;
	margin:0px;
	clear:both;
	visibility:hidden;
}
/* font sizes */
.size9 {
	font-size:9px;
}
.size10 {
	font-size:10px;
}
.size11 {
	font-size:11px;
}
.size12 {
	font-size:12px;
}
.size14 {
	font-size:14px;
}
.size20 {
	font-size:20px;
}
.size22 {
	font-size:22px;
}
/*HOME PAGE*/

.slide {
	width:666px;
	height:226px;
}
ul.ticklist {
	padding:0px 0px 0px 15px; /*indent whole list*/
}
ul.ticklist li {
	list-style:none;
	background-image:url(/images/template/icon_tick.gif);
	background-position:left 3px; /*the number here moves the tick down*/
	background-repeat:no-repeat;
	margin:0px 0px 5px 0px;
	padding:0px;
	padding-left:20px;
	line-height:normal;
}
/*About Page*/

.service_table td {
	padding:3px 8px;
	color:#624f34;
	font-size:12px;
	height:28px;
}
th { /*top row of the table*/
	background-color:#fec1d1;
	color:#FFFFFF;
	font-weight:bold;
	border-bottom:1px solid #ffffff;
	height:28px;
}
.row1 {
	background-color:#fff5f8;
}
.row2 {
	background-color:#FFFFFF;
}
/*SHOP*/
 /* 285px 140px   287px 190px  */
 /* 130px 87px    132px 137px  */
.product_box {
	width:287px; /*140px minus padding*/
	height:220px;
	float:left;
	background-color:#FFFFFF;
	border:1px solid #e2dacf;
	padding:4px;
	margin:0px 9px 25px 9px;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:13px;
}
.product_box p {
	margin:0px;
	padding:0px 0px 5px 0px;
}
/*Contact Page*/

.left_details {
	float:left;
	width:240px;
}
.photo_contact {
	width:357px;
	height:225px;
	float:right;
}
.contact_title {
	color:#f07398;
	font-weight:bold;
	float:left;
	width:70px;
}
.contact_detail {
	float:left;
	width:100px;
	clear:right;
}
.forms {
	background-color:#FFFFFF !important; /*the important gets rid of the yellow google toolbar field style*/
	border:1px solid #f6a1ba !important;
	margin:3px 0px;
	padding:4px;
}
.pink {
	color:#f07398;
}
.cute_form {
	border:0;
}
.cute_form label {
	float:left;
	width:180px;
	margin-right:5px;
	clear:left;
	color:#f07398;
	font-weight:bold;
	text-align:right;
	height:32px;
}
.cute_form input, .cute_form textarea {
	margin-right:40px;
}
.cute_form .submit_button {
	clear:left;
	margin-left:95px;
}
