<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
    You have new activity. Click <%= link_to "here", dashboard_url %>
    </p>
    <p>Have a wonderful day!</p>
  </body>
</html>

