<div class="card-columns">
  <%= render partial: 'cakes/cake', collection: @cakes, cached: true %>
</div>
<div id='more-button-row' class="row">
  <%= link_to_next_page @cakes, 'More...', params: { cache: false, sort: params[:sort], q: params[:q] }, remote: true, class: 'btn pull-right hidden', data: { disable_with: 'loading...', infinite_scroll: true } %>
</div>
