<div class="row-fluid">
  <% @cakes.each_slice(6).each do |batch| %>
    <ul class='thumbnails'>
      <% batch.each do |cake| %>
        <% cache cake do %>
          <li class="span2">
            <div class="thumbnail">
              <%= link_to cake_path(cake) do %>
                <%= image_tag cake.primary_image.url_for(:thumb), alt: cake.name %>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
<div id='more-button-row' class="row-fluid">
  <%= link_to_next_page @cakes, 'More...', params: { cache: false, sort: params[:sort], q: params[:q] }, remote: true, class: 'btn pull-right more-button hidden', data: { disable_with: 'loading...' } %>
</div>
