<% provide(:title, "#{@creation.name} By #{@creation.user.name}") -%>
<% provide(:description, "#{@creation.story}") -%>
<% provide(:search_path, cakes_path) %>

<div id="primary-photo">
  <%= render partial: 'show' %>
</div>

<% if @creation.photos_count > 1 %>
  <div class="row-fluid">
    <div class="span12">
      <% @creation.photos.each_slice(12).each do |batch| %>
        <ul class='thumbnails'>
          <% batch.each do |photo| %>
            <li class="span1">
              <%= link_to cake_path(@creation, photo_id: photo.id), remote: true do %>
                <%= image_tag(photo.url_for(:thumb), class: "thumbnail") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: "shared/disqus", locals: { id: "c-#{@creation.id}" } %>
