<% provide(:title, "#{@creation.name} By #{@creation.user.name}") -%>
<% provide(:description, "#{@creation.story}") -%>
<% provide(:search_path, cakes_path) %>

<div id="primary-photo">
  <%= render partial: 'show' %>
</div>
