<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li><%= link_to "Basic info", settings_path %></li>
      <li><%= link_to "Password", passwords_path(@user) %></li>
      <li><%= link_to "Picture", edit_avatar_path(@user) %></li>
    </ul>
  </div>
</div>
