<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li><a href="#">Basic info</a></li>
      <li><a href="#">Additional info</a></li>
      <li class="active"><%= link_to "Password", passwords_path %></li>
    </ul>
  </div>
</div>
