<div class="row">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="pull-right"><%= link_to t('.logout'), logout_path, method: :delete, class: "btn btn-inverse" %></li>
      <% if current_user.admin? %>
      <li class="pull-right"><%= link_to t('.admin'), admin_root_path %></li>
      <% end %>
      <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
          <i class="icon-plus"></i> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to my_root_path(anchor: 'cakes/new') do %>
              <i class="icon-camera"></i> New Cake
            <% end %>
          </li>
          <li>
            <%= link_to my_root_path(anchor: 'tutorials/new') do %>
              <i class="icon-edit"></i> New Tutorial
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
