
<div class="summary">
  <img src="<%= avatar_url @profile %>&amp;s=200" alt="<%= @profile.name %>" class="photo" />
  <p><%= @profile.name %></p>
</div><!-- /.summary -->

<% if @profile.email.eql? "mo.khan@gmail.com" %>
<a href="https://twitter.com/mocheen" class="twitter-follow-button" data-show-count="false">Follow @mocheen</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<% end %>

