<% content_for :title do %>
  Welcome to CakeSide
<% end %>

<% if !user_signed_in? %>
<div class="hero-unit">
  <h1>Hello, cake enthusiast!</h1>
<p>&nbsp;</p>  
  <p>Do you <em>make</em> cakes, <em>sell</em> cakes, or just <em>love</em> eating them?</p>
  <p>Then you've come to the right place!</p>
  <br />
<p>CakeSide is a community where you can <strong>share</strong> and <strong>connect</strong> with other cake fanatics like yourself!</p>
  <br />
  <p><a href="<%= url_for new_user_session_path %>" class="btn primary large">Learn more &raquo;</a></p>
</div>
<% end %>
<%= render "shared/creation_image_gallery" %>
