<% content_for :title do %>
  Welcome to the CakeSide
<% end %>

<div class="hero-unit">
  <h1>Hello, cake eater!</h1>
  <p>Interested in making cakes, eating cakes, or celebrating cakes? Then you came to the right place.</p>
  <p><a class="btn primary large">Learn more &raquo;</a></p>
</div>
<%= render "shared/creation_image_gallery" %>
