<% content_for :title do %>
  Welcome to the CakeSide
<% end %>
<div class="grid_12">
  <h1>Recently Added Creations</h1>
  <% @creations.each do |creation| %>
    <div class="creation">
      <a href="<%= url_for creation %>"><%= image_tag creation.image.thumb.url, :alt => creation.name %></a>
      <p><%= creation.name %> <br /><%= link_to creation.user.name, creation %></p>
    </div>
  <% end %>
</div>
<div class="clear"></div>






