<div class="welcomeHolder">
  <div class="welcome">
    <img src="/images/img01.jpg" alt="" />
    <h1>Welcome to the CakeSide</h1>
    <p><em>Introduce your company here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </em></p>  
    <p align="right"><input type="button" value="MY CREATIONS" class="view" /></p> 
    <div class="clear"></div>
  </div>
  <div class="welcomeBottom"></div>
</div>

<div class="heading">Mmm... Cake!</div>

<div class="organic">
  <div class="organicHolder">
    <div class="organicContent">
      <a href="#"><img src="/images/img02.jpg" alt="" /></a>
      <h2>Birthday Day</h2>
      <p>Organic fruit and vegetables Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
    </div>
  </div>

  <div class="organicHolder">
    <div class="organicContent">
      <img src="/images/img03.jpg" alt="" />
      <h2>Pound Cake</h2>
      <p>Organic fruit and vegetables Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
    </div>
  </div>

  <div class="organicHolder">
    <div class="organicContent">
      <img src="/images/img04.jpg" alt="" />
      <h2>iPad Cake</h2>
      <p>Organic fruit and vegetables Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
    </div>
  </div>
</div>

<div class="space"></div>

<div class="organic">
  <div class="organicHolder">
    <div class="organicContent">
      <img src="/images/img05.jpg" alt="" />
      <h2>Spiderman Cake</h2>
      <p>Organic fruit and vegetables Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
  </div>

  <div class="organicHolder">
    <div class="organicContent">
      <img src="/images/img06.jpg" alt="" />
      <h2>My Little Pony Cake</h2>
      <p>Organic fruit and vegetables Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
    </div>
  </div>

  <div class="organicHolder">
    <div class="vegetable">
      <h3>Learn About Our Cakes</h3>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="hr"></div>
<div class="space"></div>
