<% content_for :title do %>
  Welcome to the CakeSide
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/categories_sidebar" %>
<% end %>

<h1>Recently Added Creations</h1>
<%= render "shared/creation_thumbs" %>
