<% provide(:title, "About Us") -%>

<h2>Why Cakeside</h2>
<p>We are a passionate team dedicated to improving the cake sharing experience. Frustrated with the lack of community that provides more than just photo sharing, CakeSide was born. All features of this site will be user inspired. We love to listen so feel free to give us <a target="_blank" href="http://cakeside.uservoice.com/">feedback</a>. Check back often to see what's new in the CakeSide community!</p>

