<% provide(:title, "Share a tutorial") -%>
<% content_for :page_header do -%>
  <h1>Share a new tutorial</h1>
<% end -%>
<div class="row">
  <div class="span3">
    <%= render "profiles/me_box" %>
  </div>
  <%= render 'form' %>
</div>
