development:
  adapter: postgresql
  encoding: unicode
  database: cakeside_development
  pool: 5
  username: postgres

test:
  adapter: postgresql
  encoding: unicode
  database: cakeside_test
  pool: 5
  username: postgres
