staging:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: cakeside_production
  pool: 5
  username: cakeside
  password: password

production:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: cakeside_production
  pool: 5
  username: cakeside
  password: password
