staging:
  #adapter: postgresql
  #encoding: unicode
  #host: localhost
  #database: cakeside_production
  #pool: 5
  #username: cakeside
  #password: password
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: d1t8g3ceb67l55
  username: padomwgzfzlkyp
  password: HhEs5xtpF34dwRMTDSA2CWRGnu
  host: ec2-23-21-130-189.compute-1.amazonaws.com
  port: 5432

production:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: cakeside_production
  pool: 5
  username: cakeside
  password: password
