<div class="row-fluid">
  <div class="span12">
    <%= render partial: 'admin/shared/admin_nav' %>
    <h1>Blobs <small><%= @objects.count %></small></h1>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>bucket</th>
          <th>key</th>
        </tr>
      </thead>
      <tbody>
      <% @objects.each do |object| %>
        <tr>
          <td><%= object.bucket.name %></td>
          <td><%= link_to object.key, admin_blob_path(object.key) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
