<div class="row">
  <div class="col">
    <h1>Forgot your password?</h1>
    <%= form_for(@user, url: passwords_path) do |f| %>
      <fieldset>
        <legend>Type your email address below to reset your password.</legend>
        <div class="form-group">
          <%= f.email_field :email, placeholder: "Email", class: "form-control", required: :required %>
        </div>
        <button type="submit" class="btn btn-primary">Send me reset password instructions</button>
      </fieldset>
    <% end %>
  </div>
</div>
