<div class="row-fluid">
  <div class="span12">
    <h1>Share cake</h1>
    <hr />
    <form id="new-cake" name="cake" class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="cake_name">Name*</label>
          <div class="controls">
            <input class="input-xxlarge" id="cake_name" name="name" type="text">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Category</label>
          <div class="controls">
            <select id="cake_category_id" name="category_id">
              <% _.each(categories, function(category) { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% }); %>
            </select>
          </div>
        </div>
        <div class="form-actions">
          <button id='save-button' type="submit" class="btn btn-primary">Create</button>
          <a href="#cakes" class="btn">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
