<li class="span2">
  <% if (uploading()) { %>
    <div class="progress progress-striped active">
      <div class="bar" style="width: <%= percentComplete %>%;"></div>
    </div>
  <% } else { %>
    <a href="#/cakes/<%= cake_id %>/photos/<%= id %>">
      <img src="<%= thumb_url %>" class="thumbnail" />
    </a>
  <% } %>
</li>
