<div class="row-fluid">
  <div class="span2">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="span10">
    <h1>Errors <small><%= Time.now.utc %></small></h1>

    <%= button_to "Raise HECK", admin_errors_path, method: :post %>
  </div>
</div>
