<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you ABSOLUTELY sure?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <% if (hasError()) { %>
        <div class="alert alert-dismissible fade show alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Error!</strong> <%= errorMessage %>
        </div>
      <% } %>
      <p>
        This action <b>CANNOT</b> be undone.
        This will permanently delete <em><%= name %></em> photos, and comments.
      </p>
      <p>
        Please type in the name of the cake to confirm.
        <input id="confirmation-textbox" type="text" class="form-control" autofocus="" required="" aria-label="Type in the name of the cake to confirm that you want to delete this repository.">
      </p>
    </div>
    <div class="modal-footer">
      <button id="remove-button" type="button" class="btn btn-danger" disabled="disabled">I understand the consequences, delete this cake</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
