<div class="row-fluid">
  <div class="span12">
    <%= render :partial => 'admin/shared/admin_nav' %>
    <dl class="dl-horizontal">
      <% @recent_activities.each do |activity| %>
        <%= render "activities/#{activity.subject.class.to_s.downcase}", subject: activity.subject %>
      <% end %>
    </dl>
  </div>
</div>
