<div class="row">
  <div class="col-3">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="col-9">
    <div class="card-columns">
      <% @recent_activities.find_each do |activity| %>
        <%= render(activity.subject.class.to_s.downcase, subject: activity.subject) if activity.subject %>
      <% end %>
    </div>
  </div>
</div>
