<div class="row-fluid">
  <div class="span2">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="span10">
    <dl class="dl-horizontal">
      <% @recent_activities.each do |activity| %>
        <%= render activity.subject.class.to_s.downcase, subject: activity.subject %>
      <% end %>
    </dl>
  </div>
</div>
