<table class="table table-striped">
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.asin, admin_product_path(product.asin) %></td>
      <td>
        <%= link_to product.item_attributes.title, product.detail_page_url %> is made by <%= product.item_attributes.manufacturer %> in category <%= product.item_attributes.product_group %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
