<% provide(:title, "My Favorites") -%>
<div class="row-fluid">
  <div class="span2">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="span10">
    <% @creations.each_slice(6).each do |batch| %>
      <ul class='thumbnails'>
        <% batch.each do |creation| %>
          <li class="span2">
            <div class="thumbnail">
              <%= link_to cake_path(creation) do %>
                <%= image_tag creation.primary_image.url_for(:thumb) %>
              <% end %>
              <div class="caption">
                <small><%= link_to shrink(creation.name, 12), cake_path(creation) %></small>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
