<% provide(:title, "Upload images for this creation") -%>
<div class="row">
  <div class="span12">
    <h1><small>Upload images for </small> <%= @creation.name %> <small> (Step 2 of 2)</small></h1>
    <hr>
    <%= render 'form' %>
  </div>
</div>
