<% provide(:title, "Upload images for this creation") -%>
<% content_for :page_header do -%>
  <% if(@creation.is_restricted) -%>
    <div style="float:right;">
      <%= image_tag "ratedr.jpg", :class => "span1" %>
    </div>
  <% end -%>
  <h1>Upload images for this creation<small> (Step 2 of 2)</small></h1>
 <h3>Creation name: <small><%= @creation.name %></small></h3>
 <hr>
<% end -%>
<div class="row">
  <div class="span12">
    <%= render 'form' %>
  </div>
</div>
