<div class="row">
  <div class="span12">
    <%= activity.owner.name %> commented on <%= activity.trackable.commentable.name %> at <%= activity.created_at %>
    <blockquote>
      <%= activity.trackable.body %>
    </blockquote>
  </div>
</div>
