.fright{float:right;}
.hidden{display:none;}

footer {
	margin-top:19px;
  	padding-top:19px;
    background: none repeat scroll 0 0 #333333;
    border-top: medium none;
}
footer a {
    color: #FFFFFF;
}
footer h3 {
    color: #999999;
}

footer #footer-floor {
    background: none repeat scroll 0 0 #1B1B1B;
	padding-top: 9px;
}

.hero-unit {
padding: 40px;
}
.hero-unit h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.logo {
	padding-left: 30px;
    padding-top: 30px;
}

/** marketing value statements **/
.marketing .row {
    margin-bottom: 20px;
}
.marketing h1 {
    font-size: 40px;
    font-weight: 300;
    margin: 36px 0 27px;
    text-align: center;
}
.marketing h2, .marketing h3 {
    font-weight: 300;
}
.marketing h2 {
    font-size: 22px;
	line-height: 24px;
}
.marketing p {
    margin-right: 10px;
    margin-top: 5px;
}
.marketing .bs-icon {
    margin: 7px 10px 0 0;
    opacity: 0.8;
}
.marketing .small-bs-icon {
    float: left;
    margin: 4px 5px 0 0;
}