.width100{width: 100%; background: #fff;}
.width80{width: 80%;}
.width75{width: 75%;}
.width50{width: 50%;background: #fff;}
.width25{width: 25%;}
.width20{width: 20%;}
.width33{width: 33.3%;}
.floatLeft{float:left;}
.floatRight{float:right;}
.image{margin-left:auto; margin-right:auto; display:block;}
.photo{
	border:1px solid #bababa;
	padding:2px;
	background-color:#ccc;
	margin:6px 18px 2px 5px;
}
.simple-table
{
	font-size: 10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.simple-table td
{
	border: 1px solid #ccc;
	padding: 6px 8px;
}
.simple-table tfoot td
{
	border: none;
	font-weight:bold;
	text-align:right;
}
.simple-table thead th
{
    text-align:center;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}
.alert {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
} 
.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}
.hidden{display:none;}
.smallFont{font-size:small;}
.smallerFont{font-size:smaller;}

div.creation { margin:2px; height:auto; width:auto; float:left; text-align:center; }
