<div class="row">
  <div class="span12">
    <%= activity.owner.name if activity.owner %> added a new creation to their favorites <%= activity.trackable if activity.trackable %> at <%= activity.created_at %>
  </div>
</div>
