<% content_for :title do %>
  All Creations in <%= @category.name %>
<% end %>
<div class="page-header">
  <h1>Category <em><%= @category.name %></em></h1>
</div>
<%= render "shared/a_12_column_gallery" %>
