<% provide(:title, "#{@category.name} Cakes") -%>
<div class="row-fluid">
  <div class="span3">
    <ul class="well nav nav-pills nav-stacked">
      <% @categories.each do |category| %>
        <% if(category == @category) -%>
          <li class="active"><%= link_to category.name, category_path(category) %></li>
        <% else -%>
          <li><%= link_to category.name, category_path(category) %></li>
        <% end -%>
      <% end %>
    </ul>
  </div>
  <div class="span9">
    <%= render "shared/creation_image_gallery" %>
  </div>
</div>
