<% content_for :title do %>
  All Creations in <%= @category.name %>
<% end %>

<div class="row">
  <div class="span16">
    <h1>Category <em><%= @category.name %></em></h1>
    <%= render "shared/creation_image_gallery" %>
  </div>
</div>

<%= render "shared/creation_text_gallery" %>
