<div class="row-fluid">
  <div class="span12">
    <h1><%= @user.name %></h1>
    <p><%= link_to "<< Back", admin_users_path %></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <%= avatar_for(@user) %>
  </div>
  <div class="span9">
    <%= debug @user %>
  </div>
</div>
