<table class="table table-striped">
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td> <%= link_to product.item_attributes.title, product_path(product.asin) %> by <%= product.item_attributes.manufacturer %> </td>
      <td> <%= link_to 'View on Amazon', product.detail_page_url, class: 'btn', target: "_blank" %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
