<%= provide(:search_path, products_path) %>
<div class="row-fluid">
  <div class="span12">
    <%= link_to "back", params[:boomerang] %>
    <div id="results-container">
      <%= render partial: "index" %>
    </div>
  </div>
</div>

