<div class="media">
  <%= link_to my_root_path(anchor: "cakes/#{item.id}") do %>
    <%= image_tag item.primary_image.url_for(:thumb), class: 'd-flex mr-3', width: '64px' %>
  <% end %>
  <div class="media-body">
    <h5 class="mt-0 mb-1"><%= item.name %></h5>
    <p>
      <%= link_to my_root_path(anchor: "cakes/#{item.id}/edit") do %>
        <i class="fa fa-pencil-square-o"></i> edit
      <% end %>
    </p>
  </div>
</div>
