<% provide(:title, "Dashboard") -%>
<div class="row">
  <div class="col-3">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="col-9" data-no-turbolink>
    <div class="row">
      <div class="col">
        <h5>My Cakes</h5>
        <ul class="list-unstyled">
          <% @cakes.each do |item| %>
            <%= render item.class.to_s.downcase, item: item %>
          <% end %>
        </ul>
      </div>
      <div class="col">
        <div class="well">
          <h5>My Notifications</h5>
          <% if @activities.empty? %>
            <p>No new activity to report.</p>
          <% else %>
            <% @activities.each do |activity| %>
              <%= render activity.subject.class.to_s.downcase, subject: activity.subject %>
            <% end %>
          <% end %>
        </div>

        <% if @tutorials.any? %>
          <h5>My Tutorials</h5>
          <ol>
            <% @tutorials.each do |item| %>
              <%= render item.class.to_s.downcase, item: item %>
            <% end %>
          </ol>
        <% end %>
      </div>
    </div>
  </div>
</div>
