<% provide(:title, "Dashboard") -%>
<%= render :partial => "shared/account_nav", :locals => { :selected => :dashboard } %>
<div class="row">
  <div class="span7">
    <% @items.each do |item| %>
      <%= render item.class.to_s.downcase, item: item %>
    <% end %>
  </div>
  <div class="span5">
    <% if @activities.empty? %>
      <p>No new activity to report.</p>
    <% else %>
      <% @activities.each do |activity| %>
        <%= render "activities/#{activity.subject.class.to_s.downcase}", subject: activity.subject %>
      <% end %>
    <% end %>
  </div>
</div>
