<% if(flash.any?) -%>
  <% flash.each do |key, value| -%>
    <% Array(value).uniq.each do |message| -%>
      <div class="alert alert-dismissible fade show alert-<%= flash_to_alert(key) %>" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
    <% end -%>
  <% end -%>
<% end %>
