<% devise_flash -%>
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span9">
        <% if(flash.any?) -%>
          <% flash.each do |key, value| -%>
            <% Array(value).uniq.each do |message| -%>
              <div class="alert alert-<%= key %>">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <%= message %>
              </div>
            <% end -%>
          <% end -%>
        <% end -%>
        &nbsp;
      </div>
      <div class="span3" style="text-align: right; padding-bottom: 8px">
        <a href="https://www.facebook.com/pages/CakeSide/214607468615074" target="_blank" align="left"><img src="http://www.niftybuttons.com/rkc-social-set-1/facebook.png" border="0"></a>
        <a href="http://twitter.com/cakeside" target="_blank" align="left"><img src="http://www.niftybuttons.com/rkc-social-set-1/twitter.png" border="0"></a>
        <a href="http://pinterest.com/cakeside/" target="_blank" align="left" ><img src="http://www.niftybuttons.com/rkc-social-set-1/pinterest.png" border="0"></a>
      </div>
    </div>
  </div>
</div>
