<% if(flash.any?) -%>
<div class="row-fluid">
  <div class="span12">
    <% flash.each do |key, value| -%>
      <% Array(value).uniq.each do |message| -%>
        <div class="alert alert-<%= key %>">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <%= message %>
        </div>
      <% end -%>
    <% end -%>
    &nbsp;
  </div>
</div>
<% end %>
